interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/{owner}/{repo}
  response:
    body:
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest","status":"401"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '5'
      X-RateLimit-Reset:
      - '1737277824'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '55'
    status:
      code: 401
      message: Unauthorized
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-api-key:
      - sk-test-key
      x-schemathesis-testcaseid:
      - QdjLIS
    method: GET
    uri: http://testserver/api/v1/github/repository-branches/{owner}/{repo}
  response:
    body:
      string: '{"success":false,"code":401,"message":"Unauthorized access. Access
        token required.","details":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
