ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000  # or your actual frontend URL, do NOT add `/` in the end
COOKIE_DOMAIN=localhost

ADMIN_API_KEY=
AGENTIC_API_KEY=

OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-...
GEMINI_API_KEY=AI...

LANGFUSE_HOST=https://...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...

MONGODB_URL=your_mongodb_url
SECRET_KEY=your_secret_key

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_INSTALLATION_URL=https://github.com/apps/<app-name>/installations/new

STRIPE_API_KEY=sk
STRIPE_WEBHOOK_SECRET=wk # Check readme for more details
STRIPE_ENTERPRISE_PRICE_ID=price_yourPriceIdHere
STRIPE_PRO_PRICE_ID=price_yourPriceIdHere

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

LLM_UTILITY=claude-3-5-sonnet-latest
LLM_SCAN_1=o1
LLM_SCAN_2=claude-3-5-sonnet-latest
LLM_SCAN_3=gemini-2.0-flash-exp

ETHERSCAN_API_KEY=abc
SLACK_TOKEN=xoxb-