ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000  # or your actual frontend URL

OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-...

LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_HOST=https://...

API_USERNAME=123
API_PASSWORD=123

MONGODB_URL=your_mongodb_url

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

SECRET_KEY=your_secret_key

STRIPE_API_KEY=sk
STRIPE_WEBHOOK_SECRET=wk # Check readme for more details