anthropic==0.47.1
apscheduler==3.10.4
beanie==1.27.0
certifi==2024.7.4
email-validator==2.2.0
fastapi==0.115.5
google-generativeai==0.8.3
httpx==0.27.2
huey==2.5.2
instructor==1.7.2
jsonref==1.1.0
langfuse==2.54.1
markdown==3.7
motor==3.6.0
openai==1.64.0
playwright==1.49.0
pydantic==2.9.2
pydantic_core==2.23.4
pygments==2.18.0
pygount==1.8.0
pymongo==4.9.1
pypdf==5.1.0
python-dotenv==1.0.1
python_jose==3.4.0
slither-analyzer==0.10.0
solc-select==1.0.4
starlette==0.41.3
tenacity==9.0.0
tiktoken==0.7.0
toml==0.10.2
stripe==10.11.0
slackclient==2.9.4
uvicorn==0.30.6
duckduckgo-search==7.5.1