body {
  background-color: #ffffff;
}

.frame48096177-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.frame48096177-frame48096178 {
  gap: 662px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px 214px;
  align-self: stretch;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10000000149011612);
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(39, 39, 42, 1);
  border-style: solid;
  border-width: 0 0 1px;
  border-radius: 0 0 8px 8px;
  justify-content: center;
  background-color: rgba(24, 24, 27, 1);
  margin-bottom: 25px;
}

.frame48096177-frame2085660370 {
  gap: 672px;
  width: 984px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.frame48096177-frame48096168 {
  width: 122px;
  height: 22px;
}

.frame48096177-background {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 10px;
  overflow: visible;
  border-radius: 8px;
  white-space: nowrap;
}

.frame48096177-container11 {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.frame48096177-text100 {
  opacity: 0.7;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
}

.frame48096177-container13 {
  display: flex;
  align-items: center;
  height: 20px;
  overflow: visible;
}

.frame48096177-container12 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.frame48096177-container14 {
  top: 0px;
  left: 0px;
  width: 129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.frame48096177l9y-rom-z-nm-fy86rjx-on4-gkthll8png {
  width: 129.32568359375px;
  height: 17.12229347229004px;
  display: flex;
  overflow: visible;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("public/external/tq_zfjnluvels-20i9-1500h-1500h.png");
}

.frame48096177-frame48096177 {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.frame48096177-frame48096179 {
  gap: 20px;
  width: 984px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.frame48096177-option-wrapper1 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  flex-direction: column;
  background-color: #ffffff;
}

.frame48096177-content-wrapper1 {
  height: 28px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 0 0 1px;
  background-color: #F4F4F5;
}

.frame48096177-text102 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-frame480961901 {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-frame480961961 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.frame48096177-container15 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.frame48096177-avatar1 {
  width: 44px;
  height: 44px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-programmingbugcodebugsecurityprogrammingsecurecomp {
  width: 39px;
  height: 37px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame48096177-group1 {
  top: 1.7142857313156128px;
  left: 0.5714285969734192px;
  width: 14.85714340209961px;
  height: 12.571428298950195px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame48096177-vector10 {
  top: -3.2857141494750977px;
  left: 2.2857143878936768px;
  width: 30px;
  height: 40px;
  scale: 1.5;
  position: absolute;
}

.frame48096177-vector11 {
  top: 7.428571701049805px;
  left: 0px;
  width: 2px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector12 {
  top: 10.057143211364746px;
  left: 0px;
  width: 3px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector13 {
  top: 3.4285545349121094px;
  left: 0px;
  width: 3px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector14 {
  top: 7.428571701049805px;
  left: 12.571429252624512px;
  width: 2px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector15 {
  top: 10.057143211364746px;
  left: 11.851428985595703px;
  width: 3px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector16 {
  top: 3.4285545349121094px;
  left: 11.851428985595703px;
  width: 3px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector17 {
  top: 0px;
  left: 8.845714569091797px;
  width: 1px;
  height: 2px;
  position: absolute;
}

.frame48096177-vector18 {
  top: 0px;
  left: 4.571428298950195px;
  width: 1px;
  height: 2px;
  position: absolute;
}

.frame48096177-vector19 {
  top: 6.285714149475098px;
  left: 2.411428451538086px;
  width: 10px;
  height: 1px;
  position: absolute;
}

.frame48096177-container16 {
  height: 44px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.frame48096177-text104 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text106 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-divider1 {
  width: 1px;
  height: 76px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #F4F4F5;
}

.frame48096177-container17 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.frame48096177-avatar2 {
  width: 44px;
  height: 44px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-icon-wrap1 {
  gap: 6.400000095367432px;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.frame48096177-is-icon-only1 {
  width: 39px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame48096177-group2 {
  top: 0.571484386920929px;
  left: 0.571484386920929px;
  width: 14.857144355773926px;
  height: 14.857144355773926px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame48096177-vector20 {
  top: 10.28574275970459px;
  left: 0.00019532101578079164px;
  width: 2px;
  height: 5px;
  position: absolute;
}

.frame48096177-vector21 {
  top: 10.28574275970459px;
  left: 5.714648723602295px;
  width: 2px;
  height: 5px;
  position: absolute;
}

.frame48096177-vector22 {
  top: 0.00019532101578079164px;
  left: 8px;
  width: 48px;
  height: 50px;
  scale: 2.5;
  position: absolute;
}

.frame48096177-vector23 {
  top: 0.00019532101578079164px;
  left: 9.14316463470459px;
  width: 6px;
  height: 6px;
  position: absolute;
}

.frame48096177-container18 {
  height: 44px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.frame48096177-container19 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text108 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-container20 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text110 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-divider2 {
  width: 1px;
  height: 76px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #F4F4F5;
}

.frame48096177-container21 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.frame48096177-avatar3 {
  width: 44px;
  height: 44px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-interfacetextformattingparagrapharticlealignmentfo {
  width: 14px;
  height: 14px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame48096177-group3 {
  top: 1px;
  left: 0.5px;
  width: 13px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame48096177-vector24 {
  top: 0px;
  left: 4.5px;
  width: 8px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector25 {
  top: 3px;
  left: 0px;
  width: 13px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector26 {
  top: 6px;
  left: 0px;
  width: 13px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector27 {
  top: 12px;
  left: 0px;
  width: 9px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector28 {
  top: -2.5px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  scale: 1.6;
}

.frame48096177-container22 {
  height: 44px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.frame48096177-container23 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text111 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-container24 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text113 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-divider3 {
  width: 1px;
  height: 76px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #F4F4F5;
}

.frame48096177-container25 {
  gap: 12px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.frame48096177-avatar4 {
  width: 44px;
  height: 44px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-mailsignhashtagsharpsignhashtagtag {
  width: 14px;
  height: 14px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame48096177-group4 {
  top: 0.5px;
  left: 0.5px;
  width: 13px;
  height: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame48096177-vector29 {
  top: 3.75px;
  left: 0px;
  width: 13px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector30 {
  top: 9.25px;
  left: 0px;
  width: 13px;
  height: 1px;
  position: absolute;
}

.frame48096177-vector31 {
  top: 0px;
  left: -7.75px;
  scale: 2;
  width: 14px;
  height: 19px;
  position: absolute;
}

.frame48096177-vector32 {
  top: 0px;
  left: 2.75px;
  width: 2px;
  height: 13px;
  position: absolute;
}

.frame48096177-container26 {
  height: 44px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.frame48096177-container27 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text115 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-container28 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text117 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-option-wrapper2 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  flex-direction: column;
  background-color: #ffffff;
}

.frame48096177-content-wrapper2 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 0 0 1px;
  background-color: #F4F4F5;
}

.frame48096177-text119 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-frame480961902 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 60px;
  flex-direction: column;
}

.frame48096177-frame480961962 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text121 {
  color: #52525b;
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text123 {
  color: rgba(212, 212, 216, 1);
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-option-wrapper3 {
  margin-top: 25px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.frame48096177-content-wrapper3 {
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 0 0 1px;
  background-color: #F4F4F5;
}

.frame48096177-text125 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-frame480961903 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-frame2085660374 {
  gap: 24px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.frame48096177-frame2085660319 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  border-radius: 14px;
}

.frame48096177-options1 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}

.frame48096177-button1 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-icon-wrap2 {
  gap: 6.400000095367432px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame48096177-is-icon-only2 {
  width: 32px;
  height: 32px;
}

.frame48096177-frame20856603221 {
  gap: 16px;
  width: 391.5px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame48096177-container29 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text127 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text129 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-container30 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text131 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text133 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-divider4 {
  width: 1px;
  height: 136px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #F4F4F5;
}

.frame48096177-frame2085660332 {
  gap: 16px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  border-radius: 14px;
}

.frame48096177-options2 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
}

.frame48096177-button2 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-is-icon-only3 {
  width: 32px;
  height: 32px;
}

.frame48096177-frame20856603222 {
  gap: 16px;
  width: 391.5px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.frame48096177-container31 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text135 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-frame480961871 {
  gap: 6px;
  display: flex;
  align-items: center;
}

.frame48096177-text137 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-chip1 {
  height: 20px;
  display: flex;
  padding: 0 2px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  justify-content: center;
  background-color: rgba(39, 39, 42, 1);
}

.frame48096177-children-wrap1 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}

.frame48096177-text139 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 16px;
}

.frame48096177-container32 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text141 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-frame480961872 {
  gap: 6px;
  display: flex;
  align-items: center;
}

.frame48096177-text143 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-divider5 {
  gap: 10px;
  height: 1px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F4F5;
}

.frame48096177-frame2085660333 {
  gap: 16px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
}

.frame48096177-options3 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}

.frame48096177-button3 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame48096177-is-icon-only4 {
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame48096177-group5 {
  top: 0.5px;
  left: 0.5px;
  width: 13px;
  height: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.frame48096177-vector33 {
  top: 9px;
  left: 0px;
  width: 2px;
  height: 4px;
  position: absolute;
}

.frame48096177-vector34 {
  top: 9px;
  left: 5px;
  width: 2px;
  height: 4px;
  position: absolute;
}

.frame48096177-vector35 {
  scale: 2;
  top: 7px;
  left: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
}

.frame48096177-vector36 {
  top: 0px;
  left: 8px;
  width: 5px;
  height: 5px;
  position: absolute;
}

.frame48096177-frame20856603223 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-container33 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-frame2085660336 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame48096177-text145 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-frame2085660335 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-frame480961873 {
  gap: 12px;
  display: flex;
  align-items: center;
}

.frame48096177-text147 {
  color: rgb(16, 16, 16);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-chip2 {
  height: 20px;
  display: flex;
  padding: 0 2px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  justify-content: center;
  background-color: rgba(39, 39, 42, 1);
}

.frame48096177-children-wrap2 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}

.frame48096177-text149 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 16px;
}

.frame48096177-frame48096188 {
  gap: 12px;
  display: flex;
  align-items: center;
}

.frame48096177-text151 {
  color: rgba(236, 237, 238, 1);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-chip3 {
  height: 20px;
  display: flex;
  padding: 0 2px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  justify-content: center;
  background-color: rgba(39, 39, 42, 1);
}

.frame48096177-children-wrap3 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}

.frame48096177-text153 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 16px;
}

.frame48096177-frame48096189 {
  gap: 12px;
  display: flex;
  align-items: center;
}

.frame48096177-text155 {
  color: rgba(236, 237, 238, 1);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-chip4 {
  height: 20px;
  display: flex;
  padding: 0 2px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  justify-content: center;
  background-color: rgba(39, 39, 42, 1);
}

.frame48096177-children-wrap4 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}

.frame48096177-text157 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 16px;
}

.frame48096177-option-wrapper4 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.10000000149011612);
  box-sizing: content-box;
  align-items: flex-start;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  flex-direction: column;
  background-color: #ffffff;
}

.frame48096177-content-wrapper4 {
  display: flex;
  padding: 14px 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 0 0 1px;
  background-color: #F4F4F5;
}

.frame48096177-frame2085660373 {
  gap: 16px;
  display: flex;
  align-items: center;
}

.frame48096177-frame20856603271 {
  gap: 8px;
  display: flex;
  align-items: center;
}

.frame48096177-interfacefolderemptyfolder1 {
  width: 14px;
  height: 14px;
}

.frame48096177-text159 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-ellipse6 {
  width: 5px;
  height: 5px;
}

.frame48096177-frame20856603272 {
  gap: 8px;
  display: flex;
  align-items: center;
}

.frame48096177-interfacefolderemptyfolder2 {
  width: 14px;
  height: 14px;
}

.frame48096177-text161 {
  color: #71717A;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-content-wrapper5 {
  gap: 16px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: #F4F4F5;
  border-style: solid;
  border-width: 0 0 1px;
}

.frame48096177-text163 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-chip5 {
  height: 28px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}

.frame48096177-dot-wrap {
  display: flex;
  padding: 0 4px;
  align-items: center;
}

.frame48096177-dot {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
}

.frame48096177-children-wrap5 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}

.frame48096177-text165 {
  color: rgba(248, 113, 160, 1);
  height: auto;
  text-align: left;
  line-height: 16px;
}

.frame48096177-frame480961904 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-frame480961963 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.frame48096177-text167 {
  color: #52525b;
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-code {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #F4F4F5;
}

.frame48096177-text169 {
  color: #52525b;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text199 {
  color: rgba(212, 212, 216, 1);
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text201 {
  color: rgba(212, 212, 216, 1);
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text203 {
  color: rgba(212, 212, 216, 1);
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text205 {
  color: rgba(212, 212, 216, 1);
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}

.frame48096177-text207 {
  color: rgba(212, 212, 216, 1);
  width: 934px;
  height: auto;
  text-align: left;
  line-height: 20px;
}